p {
  font-size: 24px;
}

#part-1 {
  margin: 10% 10%;
}

.inline-1 {
  background-color: lightblue;
}

.inline-2 {
  background-color: lightsalmon;
}

.inline-3 {
  color: coral;
}

.inline-4 {
  color: goldenrod;
}

.title {
  text-align: center;
}

img {
  width: 500px;
}

#simple-list {
  margin: 10% 0 10% 10%;
}

ul {
  font-size: 20px;
}

ol {
  font-size: 20px;
}

#simple-tbl {
  margin: 10% 0 10% 10%;
}

table,
thead,
th,
tbody,
tr,
td {
  border: 1px solid black;
  text-align: center;
}

td {
  padding: 2px 10px;
}

#diamond {
  color: crimson;
}

#heart {
  color: crimson;
}

#nested-list {
  margin: 10% 0 10% 10%;
}
