p {
  font-size: 24px;
}

.span-1 {
  background-color: lightblue;
}

.span-2 {
  background-color: lightsalmon;
}

#title {
  text-align: center;
}

img {
  width: 500px;
}

ul {
  text-align: center;
  font-size: 20px;
}
