p {
  font-size: 24px;
}

#part-1 {
  margin: 10% 10%;
}

.inline-1 {
  background-color: lightblue;
}

.inline-2 {
  background-color: lightsalmon;
}

.inline-3 {
  color: coral;
}

.inline-4 {
  color: goldenrod;
}

.title {
  text-align: center;
}

.challenge {
  text-align: center;
  padding: 3% 0;
}

img {
  width: 500px;
}

#simple-list {
  margin: 10% 0 10% 10%;
}

ul {
  font-size: 20px;
}

ol {
  font-size: 20px;
}

#simple-tbl {
  margin: 10% 0 10% 10%;
}

table,
tbody,
tr,
td {
  border: 1px solid black;
  text-align: center;
}

td {
  padding: 2px 10px;
}

#diamond {
  color: crimson;
}

#heart {
  color: crimson;
}

#nested-list {
  margin: 10% 0 10% 10%;
}

.box {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  vertical-align: middle;
  margin: 10% 0 10% 10%;
}

#red-target {
  width: 100px;
  height: 100px;
  background-color: crimson;
  border: 5px dashed black;
  box-sizing: border-box;
  margin: 25%;
}

.table {
  height: 200px;
  width: 400px;
  border: 3px solid black;
  margin: 10% 0 10% 10%;
}

tbody,
tr,
td {
  border: 3px solid black;
}

.carre {
  background-color: cadetblue;
}
